body{
    background-color: #E4DCCF;
    background-image: url(peaky.jpg);
}
h1{
    color: white;
}
h3{
    color: azure;
}
p{
    color: aliceblue;
}
table{
    color: beige;
}
a{color: rgb(83, 177, 256);}
